
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
3and open the template in the editor.
*/
/* 
    Created on : 21 Nov, 2015, 7:48:59 PM
    Author     : user
*/
body{
    background: beige;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: black;
}
.nav_bar{
    background-color: #2b2b2b;
    top:0px;
    left:0px;
    float: left;
    display: table;
    width: 100%;
    margin-right: 0;
    margin-left: 1px;
    padding-left: 0;
    padding-right: 0;
    margin-top: 0px;
    font-weight: 300;
    box-sizing: border-box;
    
}
/*#search_bar{
   position: absolute;
   
   
}*/
#mycart{
    position: absolute;
    top:0px;
    right:0px;
    background-color: greenyellow;
    height: 59px;
    width: 200px;
    text-align: center;
    padding-top: 10px;
}
#image_acc{
    position: relative;
    left: 45px;
}
#account{
    position: absolute;
    top: 0px;   
    left: 951px;
    width: 300px;
    height: 69px;
    border-left: #333 solid thin;
    border-right: #333 solid thin;
    background-color: #2b2b2b;
}
#magnifier{
    position: absolute;
    top: 0px;
    left: 900px;
}
#search_bar{
    position: absolute;
    top:0px;
    width: 800px;
}
#input_search{
    position: absolute;
    top: 0px;
    height: inherit;
    width: 540px;
    height: 69px;
    font-size: 20px;
    color: beige;
    left: 250px;
    border: none;
}
#top_bar{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 1;
}
#peppertap_logo{
    border-right: #333 thin solid;
    width: 250px;

}
#para_con{
    font-family: Impact;
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}
.products{
    background-color: gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
    height: 346px;
    width: 425px;
    margin-left: 25px;
    font-family: "Comic Sans MS";
    
}
.products_desc{
    text-align: left;
    padding-left: 20px;
    font-size: 35px;
}
.result{
    display: block;
    border: 5px #75766a solid;
    font-size: 20px;
    color: #666;
    width: 35px;
    text-align: center;
    background: azure;
    position: absolute;
}
#qty1{
    position: absolute;
    top: 570px;
    left: 250px;
}
#minus1{
    position: absolute;
    top: 576px;
    left: 210px;
}
#plus1{
    position: absolute;
    top: 576px;
    left: 307px;
}
#three_container{
    margin-top: 20px;
    margin-left: -10px;
    position: absolute;
    top:20px;
    z-index: 0;
}
#product2{
    position: absolute;
    left: 450px;
    top: 245px;
    height:700px;
    
}
#qty2{
    position: absolute;
    top:570px;
    left:230px;
}
#plus2{
    position: absolute;
    left: 287px;
    top:  574px;
}
#minus2{
    position: absolute;
    left: 190px;
    top: 574px;
}
#product3{
    position: absolute;
    left: 900px;
    top: 245px;
    height: 700px;
}
#product1{
    position: absolute;
    height: 700px;
    top: 245px;
}
#qty3{
    position: absolute;
    top:570px;
    left: 250px;
    
}
#plus3{
    position: absolute;
    top: 574px;
    left: 307px;
}
#minus3{
    position: absolute;
    top: 574px;
    left: 210px;
}
#three_container2{
    position: absolute;
    margin-left: -10px;
    top:1020px;
    z-index: 0;
}
#product4{
    height: 700px;
}
#minus4{
    position: absolute;
    left: 210px;
    top:574px;
}
#plus4{
    position: absolute;
    top: 574px;
    left: 307px;
}
#qty4{
    position: absolute;
    top:570px;
    left: 250px;
}
.products2, .products3{
    background-color: gainsboro;
    text-align: center;
    padding-top: 10px;
    padding-left: 1px;
    padding-right: 1px;
    height: 346px;
    width: 425px;
    margin-left: 25px;
    font-family: "Comic Sans MS";
}
#product5{
    position: absolute;
    height: 700px;
    left: 450px;
    top: 0px;
}
#minus7,#minus5, #minus6,#minus8,#minus9{
    position: absolute;
    left: 210px;
    top:574px;
}
#plus5, #plus6, #plus7,#plus8,#plus9{
    position: absolute;
    top: 574px;
    left: 307px;
}
#qty5, #qty6 ,#qty7,#qty8,#qty9{
    position: absolute;
    top:570px;
    left: 250px;
}
#product6{
    position: absolute;
    height: 700px;
    left: 900px;
    top: 0px;
}
#three_container3{
    position: absolute;
    top: 1750px;
    margin-left: -10px;
    z-index:0;
}
#product7{
    position: absolute;
    top: 0px;
    height: 700px;
}
#product8{
    position: absolute;
    top: 0px;
    left: 450px;
    height: 700px;
}
#product9{
    position: absolute;
    top: 0px;
    left: 900px;
    height: 700px;
}